:root {
  --font-family: 'Space Grotesk', sans-serif;
  --app-background-color: #123228;
  --app-primary-color: #f5ff6b;
  --app-secondary-color: #184638;
  --app-tertiary-color: #101010;
  --app-quaternary-color: #e0e0e0;
  --app-quinary-color: #141414;
  --app-primary-text-color: #fafafa;
}
